<div class="col-lg-3 primary-sidebar sticky-sidebar">

    <!-- Fillter By Price -->
    <form id="shop-filter-form" action="/shop" method="GET">
        <div class="sidebar-widget price_range range mb-30">
            <div class="widget-header position-relative mb-20 pb-10">
                <h5 class="widget-title mb-10">Filter BY</h5>
                <div class="bt-1 border-color-1"></div>
            </div>
            
            <!-- Price Filter -->
            <div class="price-filter">
                <div class="price-filter-inner">
                    <h6>Filter by amount</h6>
                    <div id="slider-range"></div>
                    <div class="price_slider_amount">
                        <div class="label-input">
                            <span>Range:</span>
                            <input type="text" id="amount" name="price"  />
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item mb-10 mt-10">
                    <label class="fw-900">Filter By Brands</label>
                    <div class="custome-checkbox">
                        <% allBrands.forEach((brand,index)=>{  %>
                        <input class="form-check-input" type="checkbox" name="brand" id="<%= brand.brandName %>"  value="<%= brand.brandName %>">
                        <label class="form-check-label" for="<%= brand.brandName %>"><span><%= brand.brandName %></span></label>
                        <br>
                        <% }) %>
                         </div>
                    <label class="fw-900 mt-15">Categories </label>
                    <div class="custome-checkbox">
                        <% allCategories.forEach((cat,index)=>{ %>

                            <input class="form-check-input" type="checkbox"  name="category" id="<%=cat.categoryName %>" value="<%=cat.categoryName %>">
                            <label class="form-check-label" for="<%=cat.categoryName %>"><span><%=cat.categoryName %></span></label>
                            <br>
                            <% }) %>
                        </div>
                </div>
            </div>
    
            <!-- Apply Filters Button -->
             <div class="row">
                <div class="col-6">

                    <button type="submit" class="btn btn-sm btn-default">
                        <i class="fi-rs-filter mr-5"></i> Filter
                    </button>
                </div>
                <div class="col-6">

                    <a href='/shop' class="btn btn-sm btn-default">
                        <i class="fi-rs-clear mr-5"></i> Clear All Filters
                    </a>
                </div>
                </div>
        </div>
    </form>

   
<script>
    const queryString = window.location.search
    const params = new URLSearchParams(queryString);
    const price = params.get('price')
    const selectedBrands = params.getAll('brand')
    const selectedCategories = params.getAll('category')
    const searchVal = params.get('search')
    if(searchVal){
    document.getElementById('search-input').value = searchVal
    }
   
    for(let x of selectedBrands ){
      if ( document.getElementById(x)){
        const inputTag = document.getElementById(x)
        inputTag.checked = true
      }
       
    }
    for(let x of selectedCategories ){
      if ( document.getElementById(x)){
        const inputTag = document.getElementById(x)
        inputTag.checked = true
      }
       
    }

</script>
   
</div>