<%- include('partials/headSection.ejs') %>
</head>

<body>
    <style>
       .slider-img {
    width: 100%;
    max-width: 400px; /* Adjust based on your layout */
    height: auto;
    overflow: hidden; /* Ensures no content overflows */
    text-align: center; /* Centers the image */
}

.slider-img img {
    max-width: 100%;  
    max-height: 300px; /* Adjust based on your needs */
    width: auto;
    height: auto;
    object-fit: contain;
    display: block; /* Removes extra spacing below the image */
    margin: 0 auto; /* Centers the image horizontally */
}


    </style>
    <!-- Modal -->
    <!-- <div class="modal fade custom-modal" id="onloadModal" tabindex="-1" aria-labelledby="onloadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">              
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>       
                <div class="modal-body">
                    <div class="deal" style="background-image: url('/asset-front/imgs/banner/menu-banner-7.png')">
                        <div class="deal-top">
                            <h2 class="text-brand">Deal of the Day</h2>
                            <h5>Limited quantities.</h5>
                        </div>
                        <div class="deal-content">
                            <h6 class="product-title"><a href="shop-product-right.html">Summer Collection New Morden Design</a></h6>
                            <div class="product-price"><span class="new-price">$139.00</span><span class="old-price">$160.99</span></div>
                        </div>
                        <div class="deal-bottom">
                            <p>Hurry Up! Offer End In:</p>
                            <div class="deals-countdown" data-countdown="2025/03/25 00:00:00"><span class="countdown-section"><span class="countdown-amount hover-up">03</span><span class="countdown-period"> days </span></span><span class="countdown-section"><span class="countdown-amount hover-up">02</span><span class="countdown-period"> hours </span></span><span class="countdown-section"><span class="countdown-amount hover-up">43</span><span class="countdown-period"> mins </span></span><span class="countdown-section"><span class="countdown-amount hover-up">29</span><span class="countdown-period"> sec </span></span></div>
                            <a href="shop-grid-right.html" class="btn hover-up">Shop Now <i class="fi-rs-arrow-right"></i></a>
                        </div>
                    </div>
                </div>        
        </div>
        </div>
    </div> -->

    
    <%- include('partials/header.ejs') %>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="home"><img src="/asset-front/imgs/theme/logo.png" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                  
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href=""> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/asset-front/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/asset-front/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/asset-front/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/asset-front/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/asset-front/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/mobileMenu.ejs') %>

    <main class="main">    
		<section class="home-slider position-relative pt-25 pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="position-relative">
                            <div class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1">
                                <div class="single-hero-slider single-animation-wrap">
                                    <div class="container">
                                        <div class="slider-1-height-3 slider-animated-1 card">
                                            <div class="hero-slider-content-2">
                                                <h4 class="animated">Trade-In Offer</h4>
                                                <h2 class="animated fw-900">Supper Value Deals</h2>
                                                <h1 class="animated fw-900 product-color-white text-brand"><%= latestProduct.productName %></h1>
                                                <p class="animated">Save more with coupons & up to 50% off</p>
                                                <a class="animated btn btn-brush btn-brush-3" href="/viewProduct/<%= latestProduct._id %>"> Shop Now </a>
                                            </div>
                                            <div class="slider-img">
                                                <img src="<%= latestProduct.productImages[0] %>" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="slider-arrow hero-slider-1-arrow style-3"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-md-none d-lg-block ">
                        <div class="banner-img banner-1 wow fadeIn card animated home-3">
                            <img class="border-radius-10" src="<%= bannerData[0].productImages[0] %>" alt="">
                            <div class="banner-text">
                                <span>Try This One</span>
                                <h4>Save <%= (bannerData[0].regularPrice-bannerData[0].promotionalPrice)/100  %>% on <br><%= bannerData[0].productName %></h4>
                                <a href="/viewProduct/<%= bannerData[0]._id %>">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="banner-img banner-2 wow fadeIn  card animated mb-0">
                            <img class="border-radius-10" src="<%= bannerData[1].productImages[0] %>" alt="">
                            <div class="banner-text">
                                <span>Smart Offer</span>
                                <h4>Save <%= (bannerData[1].regularPrice-bannerData[1].promotionalPrice)/100  %>% on <br><%= bannerData[1].productName %></h4>
                                <a href="/viewProduct/<%= bannerData[1]._id %>">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 

        <section class="banners mb-15">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 card">
                        <div class="banner-img wow fadeIn animated" >
                            <img src="<%= bannerData[2].productImages[0] %>" style="max-height: 200px;" alt="">
                            <div class="banner-text">
                                <span class="text-danger">Great Offer</span>
                                <h4>Save <%= (bannerData[2].regularPrice-bannerData[2].promotionalPrice)/100  %>% on <br><%= bannerData[2].productName %></h4>
                                <a href="/viewProduct/<%= bannerData[2]._id %>">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 card">
                        <div class="banner-img wow fadeIn animated">
                            <img src="<%= bannerData[3].productImages[0] %>" alt="">
                            <div class="banner-text">
                                <span>Sale off</span>
                                <h4>Great Summer Offer <br> <%= bannerData[3].productName %> </h4>
                                <a href="/viewProduct/<%= bannerData[3]._id %>">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-flex card">
                        <div class="banner-img wow fadeIn animated  mb-sm-0">
                            <img src="<%= bannerData[4].productImages[1] %>" alt="">
                            <div class="banner-text">
                                <span>New Offer</span>
                                <h4 class="text-danger">Shop Today’s Deal<br><%= bannerData[4].productName %></h4>
                                <a href="/viewProduct/<%= bannerData[4]._id %>">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        
       
        <section class="mb-45">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                        <div class="banner-img wow fadeIn animated mb-md-4 mb-lg-0">
                            <img src="<%= bannerData[5].productImages[0] %>" alt="">
                            <div class="banner-text">
                                <span>Trending Zone</span>
                                <h4 class="text-danger">Save <%= (bannerData[5].regularPrice-bannerData[5].promotionalPrice)/100  %>% on <br><%= bannerData[5].productName %></h4>
                                <a href="">Shop Now <i class="fi-rs-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-sm-5 mb-md-0">
                        <h4 class="section-title style-1 mb-30 wow fadeIn animated">Top Products</h4>
                        <div class="product-list-small wow fadeIn animated">
                            <% topProductData.forEach(item=>{   %>
                            <article class="row align-items-center " >
                                <figure class="col-md-4 mb-0">
                                    <a href="/viewProduct/<%= item._id %>"><img src="<%= item.productImages[0] %>" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h4 class="title-small">
                                        <a href="/viewProduct/<%= item._id %>"><%= item.productName %></a>
                                    </h4>
                                    <div class="product-price">
                                        <span>₹ <%= item.promotionalPrice %> </span>
                                        <span class="old-price">₹ <%= item.regularPrice %></span>
                                    </div>
                                </div>
                            </article>
                            <%})%>
                             </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-sm-5 mb-md-0">
                        <h4 class="section-title style-1 mb-30 wow fadeIn animated">Top Selling Brands</h4>
                        <div class="product-list-small wow fadeIn animated">
                            <% topBrandsData.forEach(item=>{  %>
                            <article class="row align-items-center  " >
                                <figure class="col-md-4 mb-0">
                                    <a href=""><img src="<%= item.brandImage %>" alt=""></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h4 class="title-small">
                                        <a href=""><%= item.brandName %></a>
                                    </h4>
                                    <div class="product-price">
                                       <p><%= item.brandDescription %></p>
                                    </div>
                                </div>
                            </article>
                            <% }) %>
                          
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>
    <!-- Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-10">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
   <%- include('partials/scriptTags.ejs') %>
</body>

</html>