<%- include('partials/headSection.ejs') %>
</head>

<body>
    
    <%- include('partials/header.ejs') %>

    <%- include('partials/mobileMenu.ejs') %>
    
    <main class="main">
       
        <div class="page-header breadcrumb-wrap">
            <div class="container row">
                <div class="breadcrumb col ml-20">
                    <a href="/home" >Home</a>
                    <span></span> <a href="" >Wallet</a>
                </div>
                    <div class="text-end col" >
                        <h3>Balance: <%= wallet.balance %></h3>
                </div>
            </div>
        </div>

        <section class="mt-50 container mb-50">
           
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-lg-10">
                            
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Sl.No</th>
                                            <th>Date & Time</th>
                                            <th>Details</th>
                                            <th>Type</th>
                                            <th>Amount</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (wallet && wallet.transactions && wallet.transactions.length > 0) { %>
                                            <% for (let x = 0; x < wallet.transactions.length ; x++) { 
                                                let data = wallet.transactions[x];
                                                let date = new Date(data.createdAt.$date || data.createdAt); %>
                                                <tr>
                                                    <td><%= ((currentPage-1)*limit) + x+1 %></td>
                                                    
                                                    <td><%= date.toLocaleString() %></td>
                                                    <td><%= data.reason %></td>
                                                    <td>
                                                        <span class="badge bg-<%= data.type === 'CREDIT' ? 'success' : 'danger' %>">
                                                            <%= data.type %>
                                                        </span>
                                                    </td>
                                                   <% if( data.type==='CREDIT' ){ %>
                                                    <td>+ Rs. <%= data.amount %></td>
                                                   <% } else { %>
                                                    <td>- Rs. <%= data.amount %></td>
                                                   <% } %>
                                                    <td class="text-end">
                                                        <button 
                                                            class=" btn-sm btn-primary font-sm "
                                                            onclick='showDetails(<%- JSON.stringify(data) %>)'>
                                                            Details
                                                        </button>
                                                        
                                                    </td>
                                                </tr>
                                            <% } %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="6" class="text-center">No transactions found</td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                
                                
                                
                            </div> <!-- table-responsive.// -->
                        </div> <!-- col end// -->
                       
                        <!-- col end// -->
                    </div> <!-- row end// -->
                </div> <!-- card-body // -->
            </div> <!-- card end// -->
             <!--pagination-->
             <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                <nav aria-label="Page navigation example">
                    
                    <div class="row">
                       <div class="col-4">
                        <% if(totalItems>0){ %>
                          <p>Currenly Showing page<strong class="text-brand"> <%=currentPage%></strong> of total <strong class="text-brand"><%=totalPages%> </strong> pages</p><br>
                            <% }%>
                        </div> 
                       <div class="col-8">
                        <ul class="pagination justify-content-end">

                        <% if (currentPage>1){ %>
                            <li class="page-item"><a class="page-link" data-page="<%= currentPage-1 %>" href="#">
                                <i class="fi-rs-angle-double-small-left"></i></a></li>
                        <%}%>
                        <% for(let x = 1 ; x<=totalPages ; x++){ %>
                        <% if(x==currentPage ) { %>
                            <li class="page-item active"><a class="page-link" data-page="<%= x%>" href="#"><%= x %></a></li>
                        <% }else{ %>
                            <li class="page-item"><a class="page-link" data-page="<%= x %>" href="#"><%= x  %></a></li>
                        <% }} %>
                       
                        <% if (currentPage<totalPages){ %>
                        <li class="page-item"><a class="page-link" data-page="<%= currentPage+1 %>" href="#">
                            <i class="fi-rs-angle-double-small-right"></i></a></li>
                        <%}%>
                    </ul>
                       </div>
                    </div>
                    
                </nav>
            </div>
        </section>


    </main>
    
    <%- include('partials/footer.ejs') %>

  

    <%- include('partials/scriptTags.ejs') %>

    

   <script>
         function showDetails(data) {
                                        const date = new Date(data.transactionDate?.$date || data.transactionDate).toLocaleString();
                                        Swal.fire({
                                            title: `OrderId : ${data.orderId}`,
                                            html: `
                                                <div style="text-align: left;">
                                                    <p><strong>Date:</strong> ${data.createdAt}</p>
                                                    <p><strong>Type:</strong> ${data.type}</p>
                                                    <p><strong>Amount:</strong> ₹ ${data.amount}</p>
                                                    <p><strong>Details:</strong> ${data.reason || "N/A"}</p>
                                                    <p><strong>Remarks:</strong> ${data.remarks || "None"}</p>
                                                </div>
                                            `,
                                            icon: data.transactionType === 'CREDIT' ? 'success' : 'warning',
                                            confirmButtonText:'View Order',
                                            showCancelButton:true,
                                            cancelButtonText: 'Close',
                                            width: '30em'
                                        }).then(result=>{
                                            if(result.isConfirmed){
                                                window.location.href=`/orderDetail/${data.orderId}`
                                            }
                                        })
                                    }
                                    document.querySelectorAll(".page-link").forEach(item => {
        item.addEventListener("click", function (e) {
            e.preventDefault();
           const url = new URL(window.location.href)
           url.searchParams.set('page',this.getAttribute('data-page'))
      
        window.location.href=url
        });
    });
    
   </script>
</body>

</html>